.about-services {
	background-color: #30333c;
	&__body {
		padding-top: 87px;
		padding-bottom: 104px;
		margin-left: 59px;
		margin-right: 59px;
		background-color: #1e2128;
	}
	&__title {
		margin-left: 70px;
		margin-bottom: 79px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
		margin-right: 23px;
	}
	&__coll {
		width: 50%;
		text-align: center;
		margin-bottom: 84px;
		&:nth-child(n + 4) {
			margin-bottom: 0;
		}
		&_1 {
			.about-services__caption {
				background: linear-gradient(45deg, #6cd9de 33%, #6abbbf 66%, #69acaf);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&_2 {
			.about-services__caption {
				background: linear-gradient(45deg, #e5c80a 33%, #e9af0f 66%, #ed9914);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&_3 {
			.about-services__caption {
				background: linear-gradient(45deg, #b65ad2 33%, #8d88de 66%, #6bade8);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&_4 {
			.about-services__caption {
				background: linear-gradient(45deg, #f83c86 33%, #f54864 66%, #f35446);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&_5 {
			.about-services__caption {
				background: linear-gradient(45deg, #c33bc2 33%, #c33bc2 66%, #e5017e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&__caption {
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 25px;
		color: #fff;
		img {
			width: 21px;
			height: 32px;
			object-fit: contain;
			margin: 19px auto 0px;
		}
	}
	&__box {
		max-width: 340px;
		margin: 0px auto;
	}
	&__desc {
		font-size: 22px;
		line-height: 31.97px;
		strong {
			font-size: 28px;
			font-weight: 500;
			line-height: 40px;
			letter-spacing: -0.28px;
		}
	}
}
@media (max-width: 1354px) {
	.about-services {
		&__body {
			padding-top: 60px;
			padding-bottom: 80px;
			margin: 0px;
		}
		&__title {
			margin-bottom: 40px;
		}
		&__caption {
			font-size: 40px;
			margin-bottom: 15px;
		}
		&__desc {
			font-size: 20px;
			line-height: 28px;
			strong {
				font-size: 24px;
				line-height: 34px;
			}
		}
		&__coll {
			margin-bottom: 60px;
		}
	}
}
@media (max-width: 1010px) {
	.about-services {
		&__body {
			padding-top: 60px;
			padding-bottom: 60px;
			margin: 0px;
		}
		&__caption {
			font-size: 35px;
			margin-bottom: 10px;
		}
		&__desc {
			font-size: 18px;
			line-height: 25px;
			br {
				display: none;
			}
			strong {
				font-size: 22px;
				line-height: 30px;
			}
		}
		&__coll {
			width: 50%;
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 760px) {
	.about-services {
		&__caption {
			font-size: 28px;
			img {
				margin-top: 10px;
			}
		}
		&__desc {
			font-size: 16px;
			line-height: 24px;
			strong {
				font-size: 20px;
				line-height: 26px;
			}
		}
		&__coll {
			width: 100%;
			margin-bottom: 30px;
			&:nth-child(n + 4) {
				margin-bottom: 30px;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
