.filter-promo {
	padding-top: 184px;
	padding-bottom: 21px;
	background-color: #30333c;
	&__top {
		text-align: center;
		&-link {
			display: inline-flex;
			color: #30333b;
			font-size: 24px;
			font-weight: 500;
			line-height: 39.18px;
			letter-spacing: -0.17px;
			background: linear-gradient(45deg, #c33cc3 33%, #e5007d 66%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 25px;
			margin-left: -5px;
			span {
				display: block;
				background: linear-gradient(45deg, #c33cc3 33%, #e5007d 66%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			img {
				width: 14px;
				height: 23px;
				display: inline-block;
				object-fit: contain;
				margin-top: 10px;
				margin-left: 12px;
				transition: all 0.3s;
			}
			&:hover {
				img {
					transform: translateX(10px);
					transition: all 0.3s;
				}
			}
		}
	}
	&__form {
		&-body {
			width: 662px;
			margin: 82px auto 0px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&-desc {
			color: #b4b4b4;
			opacity: 0.35;
			font-size: 15px;
			line-height: 20px;
			text-align: center;
			margin-top: 53px;
		}
	}
	.breadcrumbs {
		ul {
			justify-content: center;
		}
	}
	.page-top {
		margin-bottom: 0px;
		&__title {
			max-width: 100%;
			color: #fff;
		}
	}
}
@media (max-width: 1354px) {
	.filter-promo {
		&__top {
			&-link {
				font-size: 22px;
			}
		}
		&__form {
			&-body {
				margin: 60px auto 0;
			}
		}
	}
}
@media (max-width: 1010px) {
	.filter-promo {
		padding-top: 160px;
		padding-bottom: 20px;
		&__top {
			&-link {
				font-size: 20px;
				margin-top: 20px;
				margin-left: 0;
				img {
					width: 10px;
					height: 20px;
					margin-left: 12px;
				}
			}
		}
		&__form {
			&-body {
				margin: 40px auto 0;
				width: 100%;
			}
			&-desc {
				margin-top: 40px;
			}
		}
	}
}
@media (max-width: 760px) {
	.filter-promo {
		padding-top: 140px;
		&__top {
			&-link {
				font-size: 18px;
			}
		}
		&__form {
			&-body {
				margin-top: 20px;
			}
			&-desc {
				margin-top: 40px;
			}
			.sliders + .sliders {
				margin-top: 30px;
			}
		}
	}
}
