.proect-promo {
	padding-top: 188px;
	padding-bottom: 96px;
	background-color: #252831;
	color: #fff;
	.breadcrumbs {
		ul {
			li {
				background: linear-gradient(45deg, #b759d2 33%, #6abbbf 66%, #6baee8);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				&:after {
					background: linear-gradient(45deg, #b759d2 33%, #6abbbf 66%, #6baee8);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				a {
					background: linear-gradient(45deg, #b759d2 33%, #6abbbf 66%, #6baee8);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}
	.arrow {
		position: absolute;
		top: calc(50% - 32px);
		background-color: #fff;
		z-index: 10;
		opacity: 0;
		&_prev {
			left: 0px;
		}
		&_next {
			right: 0px;
		}
	}
	.page-top__title {
		margin-top: 19px;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: 55px;
		padding-bottom: 109px;
	}
	&__swipper {
		overflow: visible;
	}
	&__body {
		position: relative;
		z-index: 10;
		&:hover {
			.arrow {
				opacity: 1;
			}
		}
	}
	&__subtitle {
		max-width: 495px;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-top: 55px;
	}
	&__left {
		max-width: 670px;
	}
	&__right {
		width: 346px;
	}
	&__item {
		& + & {
			margin-top: 35px;
		}
	}
	&__caption {
		color: #63666c;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	&__value {
		background: linear-gradient(45deg, #b759d2 33%, #6abbbf 66%, #6baee8);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 28px;
		font-weight: 500;
		display: inline-block;
	}
	&__img {
		height: 384px;
	}
}
@media (max-width: 1354px) {
	.proect-promo {
		padding-top: 160px;
		&__wrap {
			padding-left: 0;
			padding-bottom: 80px;
		}
		&__right {
			width: 280px;
		}
		&__subtitle {
			max-width: 470px;
			font-size: 20px;
			line-height: 28px;
			margin-top: 30px;
		}
		&__caption {
			font-size: 16px;
		}
		&__value {
			font-size: 24px;
		}
		&__img {
			height: 330px;
		}
	}
}
@media (max-width: 1010px) {
	.proect-promo {
		padding-top: 140px;
		&__wrap {
			padding-left: 0;
			padding-bottom: 40px;
		}
		&__right {
			width: 100%;
			margin-top: 30px;
		}
		&__items {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			& + & {
				margin-top: 0px;
			}
			width: 33.333%;
		}
		&__subtitle {
			max-width: 400px;
			font-size: 18px;
			line-height: 24px;
			margin-top: 15px;
		}
		&__caption {
			font-size: 16px;
		}
		&__value {
			font-size: 24px;
		}
		&__img {
			height: 330px;
		}
	}
}
@media (max-width: 760px) {
	.proect-promo {
		padding-top: 120px;
		padding-bottom: 65px;
		&__subtitle {
			font-size: 16px;
		}
		&__item {
			& + & {
				margin-top: 20px;
			}
			width: 100%;
		}
		&__caption {
			font-size: 15px;
		}
		&__value {
			font-size: 22px;
		}
		&__img {
			height: 230px;
		}
	}
}
