.programs-recomendation {
	padding-top: 87px;
	padding-bottom: 65px;
	background-color: #fff;
	&__title {
		color: #252831;
		font-size: 32px;
		font-weight: 600;
		line-height: 40px;
		letter-spacing: -0.22px;
		margin-bottom: 55px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -30px -64px;
	}
	&__coll {
		width: calc(33.333% - 60px);
		margin: 0px 30px 64px;
		background-color: #fcf3db;
		&:nth-child(2n) {
			background-color: #f9ddf0;
		}
		&:nth-child(3n) {
			background-color: #fee4e8;
		}
	}
	&__img {
		display: block;
		width: 100%;
		height: 228px;
		overflow: hidden;
		img {
			transition: all 0.3s;
		}
		&:hover {
			img {
				transform: scale(1.1);
				transition: all 0.3s;
			}
		}
	}
	&__box {
		padding: 40px 44px 45px;
	}
	&__caption {
		display: block;
		color: #252831;
		font-size: 26px;
		font-weight: 600;
		letter-spacing: -0.26px;
		margin-bottom: 20px;
		img {
			width: 32px;
			height: 32px;
			margin-right: 11px;
			display: inline-block;
			margin-left: -3px;
			margin-bottom: -6px;
		}
	}
	&__desc {
		color: #252831;
		font-size: 18px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: -0.13px;
		margin-bottom: 25px;
	}
	&__btn {
		font-size: 15px;
		padding: 12px 19px;
		img {
			width: 10px;
			height: 17px;
			margin-left: 10px;
		}
	}
	&__bottom {
		text-align: center;
		margin-top: 62px;
	}
	&__button {
		display: inline-block;
		padding: 19px 48px;
		border-radius: 50px;
		border: 1px solid #b4b4b4;
		background-color: transparent;
		color: #252831;
		font-size: 18px;
		font-weight: 500;
		position: relative;
		z-index: 10;
		transition: all 0.3s;
		span {
			position: relative;
			z-index: 10;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			opacity: 1;
			background: #fff;
			border-radius: 50px;
			z-index: -1;
			transition: all 0.3s;
		}
		&:after {
			content: "";
			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			opacity: 0;
			background: #d9d9d9;
			border-radius: 50px;
			z-index: -2;
			transition: all 0.3s;
		}
		&:hover {
			&:after {
				opacity: 1;
				transition: all 0.3s;
			}
			transition: all 0.3s;
		}
	}
}
@media (max-width: 1354px) {
	.programs-recomendation {
		padding-top: 80px;
		&__title {
			margin-bottom: 35px;
		}
		&__row {
			margin: 0 -10px -50px;
		}
		&__coll {
			width: calc(33.333% - 20px);
			margin: 0 10px 50px;
		}
		&__img {
			height: 180px;
		}
		&__box {
			padding: 30px 20px 35px;
		}
		&__caption {
			font-size: 22px;
			img {
				width: 28px;
				height: 28px;
				margin-right: 10px;
			}
		}
		&__desc {
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 21px;
		}
		&__bottom {
			margin-top: 50px;
		}
		&__button {
			padding: 16px 45px;
			font-size: 16px;
		}
	}
}
@media (max-width: 1010px) {
	.programs-recomendation {
		padding-top: 60px;
		&__title {
			margin-bottom: 25px;
		}
		&__row {
			margin: 0 -15px -30px;
		}
		&__coll {
			width: calc(50% - 30px);
			margin: 0 15px 30px;
		}
		&__bottom {
			margin-top: 50px;
		}
		&__button {
			padding: 16px 45px;
			font-size: 16px;
		}
	}
}
@media (max-width: 760px) {
	.programs-recomendation {
		&__title {
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 25px;
		}
		&__row {
			margin: 0 -15px -15px;
		}
		&__coll {
			width: 100%;
			margin: 0 15px 15px;
		}
		&__bottom {
			margin-top: 30px;
		}
	}
}
