.promo {
	width: 100%;
	height: 80vh;
	min-height: 630px;
	position: relative;
	z-index: 10;
	padding-bottom: 114px;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-image: linear-gradient(to top, rgb(0, 0, 0) 0, rgba(255, 255, 255, 0) 50%);
		z-index: -1;
	}
	.wrapper {
		height: 100%;
		display: flex;
		align-items: flex-end;
	}
	&__wrap {
		width: 100%;
		align-items: flex-end;
		&-box {
			max-width: 655px;
		}
	}
	&__box {
		max-width: 655px;
	}
	&__subtitle {
		color: #ffffff;
		font-size: 24px;
		line-height: 32px;
		margin-top: 22px;
		margin-bottom: 47px;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: -1;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			background-image: linear-gradient(to top, rgba(5, 5, 23, 0) 0%, rgba(5, 5, 23, 0.2) 100%);
			z-index: 0;
		}
		&-slick {
			height: 100%;
			.slick-list,
			.slick-track,
			.slick-slide,
			.slick-slide > div {
				height: 100%;
			}
		}
		&-img,
		&-slide {
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__line {
		position: absolute;
		width: 100%;
		height: 20px;
		left: 0px;
		bottom: 0px;
		z-index: 10;
		background-image: linear-gradient(to left, #fff04e 0%, #e5007d 50%, #a976dd 75%, #63aea8 100%);
	}
	.arrow + .arrow {
		margin-left: 8px;
	}
}
@media (max-width: 1354px) {
	.promo {
		&__subtitle {
			font-size: 22px;
			line-height: 30px;
			margin-top: 20px;
			margin-bottom: 35px;
		}
	}
}
@media (max-width: 1010px) {
	.promo {
		&__box,
		&__wrap-box {
			max-width: 560px;
		}
		&__subtitle {
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 760px) {
	.promo {
		padding-bottom: 20px;
		.arrows {
			display: none;
		}
		&__wrap {
			padding-bottom: 75px;
		}
		&__box,
		&__wrap-box {
			max-width: 100%;
		}
		&__subtitle {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 30px;
		}
		&__slick {
			padding-bottom: 40px;
		}
		.slick-dots {
			bottom: 0px;
			li {
				width: 15px;
				height: 15px;
				margin: 0 5px;
				&.slick-active {
					button {
						opacity: 1;
					}
				}
				button {
					width: 15px;
					height: 15px;
					border-radius: 50%;
					cursor: pointer;
					background-color: #ffffff;
					opacity: 0.35;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-height: 550px) {
	.promo {
		min-height: 550px;
		&__wrap {
			padding-bottom: 10px;
		}
	}
}
