@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Thin/Stolzl-Thin.eot");
	src: url("../fonts/Stolzl-Thin/Stolzl-Thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Thin/Stolzl-Thin.woff") format("woff"),
		url("../fonts/Stolzl-Thin/Stolzl-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Light/Stolzl-Light.eot");
	src: url("../fonts/Stolzl-Light/Stolzl-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Light/Stolzl-Light.woff") format("woff"),
		url("../fonts/Stolzl-Light/Stolzl-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Regular/Stolzl-Regular.eot");
	src: url("../fonts/Stolzl-Regular/Stolzl-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Regular/Stolzl-Regular.woff") format("woff"),
		url("../fonts/Stolzl-Regular/Stolzl-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Medium/Stolzl-Medium.eot");
	src: url("../fonts/Stolzl-Medium/Stolzl-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Medium/Stolzl-Medium.woff") format("woff"),
		url("../fonts/Stolzl-Medium/Stolzl-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Bold/Stolzl-Bold.eot");
	src: url("../fonts/Stolzl-Bold/Stolzl-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Bold/Stolzl-Bold.woff") format("woff"),
		url("../fonts/Stolzl-Bold/Stolzl-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Book/Stolzl-Book.eot");
	src: url("../fonts/Stolzl-Book/Stolzl-Book.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Stolzl-Book/Stolzl-Book.woff") format("woff"),
		url("../fonts/Stolzl-Book/Stolzl-Book.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
