.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
	box-shadow: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.page {
	overflow: hidden;
}

.wrapper {
	max-width: 1354px;
	margin: 0px auto;
	padding: 0px 15px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover img,
.svg-cover svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-contain img,
.svg-contain svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 174px;
	height: 32px;
	display: block;
}

.btn {
	font-family: "Stolzl", sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	padding: 18px 30px;
	border-radius: 50px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 10;
	transition: all 0.3s;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		opacity: 0;
		z-index: -1;
		transition: all 0.3s;
	}
	img {
		width: 16px;
		height: 28px;
		margin-left: 18px;
		transition: all 0.3s;
	}
	&:hover {
		img {
			transform: translateX(5px);
			transition: all 0.3s;
		}
		&:after {
			opacity: 1;
			transition: all 0.3s;
		}
	}
	&_pink {
		background-image: linear-gradient(to right, #c33cc3 0%, #e5007d 100%);
		&:after {
			background-image: linear-gradient(to right, #c33cc3 0%, #c33cc3 100%);
		}
	}
	&_red {
		background-image: linear-gradient(to right, #f83b87 0%, #f35445 100%);
	}
	&_yellow {
		background-image: linear-gradient(to right, #e5c90a 0%, #ed9914 100%);
	}
	&_green {
		background-image: linear-gradient(to right, #69a474 0%, #79d3c5 100%);
	}
	&_violet {
		background-image: linear-gradient(to right, #b759d2 0%, #6baee8 100%);
	}
}

.btn-item {
	display: inline-flex;
	padding: 15px 29px;
	border-radius: 50px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	z-index: 10;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		opacity: 0;
		background-image: linear-gradient(to right, #4bcec6 0%, #4bcec6 100%);
		z-index: -1;
		transition: all 0.3s;
	}
	&:hover {
		&:after {
			opacity: 1;
			transition: all 0.3s;
		}
	}
	&_red {
		background-image: linear-gradient(to right, #f83b87 0%, #f35445 100%);
		&:after {
			background-image: linear-gradient(to right, #f83b87 0%, #f83b87 100%);
		}
	}
	&_violet {
		background-image: linear-gradient(to right, #b759d2 0%, #6baee8 100%);
		&:after {
			background-image: linear-gradient(to right, #b759d2 0%, #b759d2 100%);
		}
	}
	&_green {
		background-image: linear-gradient(to right, #4bcec6 0%, #69a474 100%);
		&:after {
			background-image: linear-gradient(to right, #4bcec6 0%, #4bcec6 100%);
		}
	}
	&_yellow {
		background-image: linear-gradient(to right, #e5c90a 0%, #ed9914 100%);
		&:after {
			background-image: linear-gradient(to right, #e5c90a 0%, #e5c90a 100%);
		}
	}
	&_pink {
		background-image: linear-gradient(to right, #c33cc3 0%, #e5007d 100%);
		&:after {
			background-image: linear-gradient(to right, #c33cc3 0%, #c33cc3 100%);
		}
	}
}

.field {
	width: 100%;
	font-family: "Stolzl", sans-serif;
	background-color: transparent;
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.04em;
	color: #fff;
	padding: 12px 26px 16px;
	border: none;
	border-bottom: 1px solid #a9b2b5;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: all 0.3s ease;
	resize: none;
	&::-webkit-input-placeholder {
		color: #fff;
	}
	&::-moz-placeholder {
		color: #fff;
	}
	&:-moz-placeholder {
		color: #fff;
	}
	&:-ms-input-placeholder {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}

.h1 {
	color: #ffffff;
	font-size: 64px;
	font-weight: 600;
	line-height: 64px;
}
.h2 {
	font-size: 48px;
	font-weight: 600;
}

.title {
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
	letter-spacing: -0.04em;
	span {
		color: #da251d;
	}
}

.caption {
	font-weight: 500;
	font-size: 12px;
	line-height: 102%;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #aeaeae;
}

.desc {
	font-family: "SF Pro Display", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 164%;
	color: #5f6266;
}

.arrow {
	width: 64px;
	height: 64px;
	border: 1px solid #c3c4c6;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	transition: all 0.3s;
	svg {
		width: 18px;
		height: 32px;
		display: block;
		object-fit: contain;
		& * {
			transition: all 0.3s;
		}
	}
	&:hover {
		background-color: #fff;
		border-color: #fff;
		svg {
			& * {
				stroke: #d61b9d;
				transition: all 0.3s;
			}
		}
	}
	&_prev {
		svg {
			position: relative;
			left: -2px;
		}
	}
	&_next {
		svg {
			position: relative;
			right: -2px;
		}
	}
}

.page-top {
	margin-bottom: 82px;
	&__title {
		max-width: 715px;
		font-size: 56px;
		font-weight: 600;
		line-height: 64px;
		letter-spacing: -0.39px;
		margin-top: 11px;
		margin-left: -3px;
	}
}

.select {
	position: relative;
	z-index: 100;
	cursor: pointer;
	&-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
		min-width: 228px;
		height: 48px;
		border: 1px solid #c3c4c6;
		padding: 15px 17px;
		border-radius: 50px;
		background-color: #fff;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #fff;
			left: 0px;
			bottom: 18px;
			z-index: 15;
		}
		&__arrow {
			position: relative;
			width: 17px;
			height: 10px;
			background-image: url(../img/icon/select-arrow.png);
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 15px;
			z-index: 20;
			transition: all 0.3s ease;
		}
		&__value {
			color: #252831;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -0.08px;
			display: block;
			white-space: nowrap;
			position: relative;
			z-index: 20;
			overflow: hidden;
		}
	}
	&-options {
		display: none;
		position: absolute;
		top: 28px;
		right: 0px;
		min-width: 228px;
		border: 1px solid #c3c4c6;
		overflow: hidden;
		background-color: #fff;
		z-index: 10;
		padding: 35px;
		&__value {
			display: inline-block;
			span {
				display: inline-block;
				color: #252831;
				font-size: 15px;
				font-weight: 600;
				padding: 13px 20px;
				border-radius: 50px;
				border: 1px solid rgba(195, 196, 198, 0.5);
				transition: all 0.3s;
			}
			& + & {
				margin-top: 11px;
			}
			&:hover {
				span {
					background-color: #30333c;
					border-color: #30333c;
					color: #fff;
					transition: all 0.3s;
				}
			}
		}
	}
	&.active {
		.select-title {
			&__arrow {
				transform: rotate(-180deg);
			}
		}
	}
	&_big {
		.select {
			&-options {
				width: 485px;
				&__value {
					width: 255px;
					&:nth-child(2n) {
						width: auto;
					}
				}
			}
		}
	}
}

.slick {
	&__info {
		font-family: "SF Pro Display", sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: 100%;
		color: #5f6266;
		margin: 0px 25px;
		span {
			margin: 0px 3px;
		}
	}
}

.dragscroll {
	overflow: auto;
	&::-webkit-scrollbar {
		width: 24px;
		height: 8px;
		background-color: rgba(48, 51, 60, 0.8);
		border-radius: 4px;
		transition: all 0.3s;
		opacity: 0;
		display: none;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 4px;
		transition: all 0.3s;
		display: none;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255, 255, 255, 0.4);
		transition: all 0.3s;
	}
	&::-webkit-scrollbar-button:vertical:start:decrement {
		display: none;
	}
	&::-webkit-scrollbar-button:vertical:end:increment {
		display: none;
	}
	&::-webkit-scrollbar-button:horizontal:start:decrement {
		display: none;
	}
	&::-webkit-scrollbar-button:horizontal:end:increment {
		display: none;
	}
}

.vertical.dragscroll {
	width: 270px;
	height: 380px;
	float: left;
	padding: 10px;
}

.free.dragscroll {
	float: right;
	width: 400px;
	height: 400px;
}

.free,
.horizontal {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;
	cursor: grab;
}

.free:active,
.horizontal:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -o-grabbing;
	cursor: grabbing;
}

@media (max-width: 1354px) {
	.wrapper {
		max-width: 1010px;
	}
	.h1 {
		font-size: 60px;
		line-height: 60px;
	}
	.h2 {
		font-size: 44px;
	}
	.btn {
		font-size: 16px;
		img {
			width: 12px;
			height: 22px;
			margin-left: 15px;
			object-fit: contain;
		}
	}
	.page-top {
		margin-bottom: 60px;
		&__title {
			max-width: 640px;
			font-size: 50px;
			line-height: 58px;
			margin-top: 10px;
		}
	}
}
@media (max-width: 1010px) {
	.wrapper {
		max-width: 750px;
	}
	.h1 {
		font-size: 50px;
		line-height: 50px;
	}
	.h2 {
		font-size: 38px;
	}
	.page-top {
		margin-bottom: 40px;
		&__title {
			max-width: 600px;
			font-size: 44px;
			line-height: 50px;
			margin-top: 20px;
		}
	}
	.select {
		&.active {
			z-index: 110;
		}
		&-options {
			right: auto;
			left: 0px;
		}
	}
}
@media (max-width: 760px) {
	.h1 {
		font-size: 38px;
		line-height: 42px;
	}
	.h2 {
		font-size: 28px;
	}
	.page-top {
		&__title {
			font-size: 32px;
			line-height: 1.2;
			br {
				display: none;
			}
		}
	}
	.btn-item {
		padding: 12px 25px;
		font-size: 15px;
	}
	.select {
		&-title {
			padding: 11px 15px;
			height: auto;
			&:after {
				bottom: 16px;
			}
			&__value {
				font-size: 15px;
			}
			&__arrow {
				width: 14px;
				height: 8px;
				margin-left: 12px;
			}
		}
		&_big {
			.select-options {
				width: calc(100vw - 30px);
				&__value {
					width: auto;
				}
			}
		}
		&-options {
			padding: 25px 15px;
			top: 23px;
			&__value {
				span {
					font-size: 12px;
					padding: 11px 15px;
				}
			}
		}
	}
}
