html {
	box-sizing: border-box;
	cursor: default;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	box-sizing: border-box;
	outline: none;
}

*,
::after,
::before {
	box-sizing: inherit;
}

::selection {
	color: #fff;
	background: #1b64fa;
}

html,
body {
	font-family: "Stolzl", sans-serif;
	color: #fff;
	background-color: #252831;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
body.lock-bg {
	overflow: hidden;
	height: 100vh;
	&:after {
		opacity: 0.65;
		visibility: visible;
		transition: all 0.3s;
	}
}
body.lock {
	overflow: hidden;
	height: 100vh;
}
body {
	position: relative;
	&:after {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #15161b;
		opacity: 0;
		z-index: 100;
		visibility: hidden;
		transition: all 0.3s;
	}
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

figure {
	margin: 0 auto;
}

blockquote {
	margin: 0;
}

sup,
sub {
	line-height: 1em;
	font-size: 0.75em;
}

a {
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	transition-property: background-size;
	text-decoration: none;
	cursor: pointer;
}

button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: url(img/cursor-rect.svg) 25 25, auto;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
	color: inherit;
	text-align: left;
	padding: 0;
	border: 0;
	background-color: transparent;
	margin: 0;

	&[disabled] {
		cursor: initial;
	}
}

select,
textarea {
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	padding: 0;
	border: 0;
	background-color: transparent;
	margin: 0;
	appearance: none;

	&::placeholder {
		opacity: 1;
	}
}

input {
	&[type="text"],
	&[type="email"],
	&[type="password"],
	&[type="tel"],
	&[type="search"] {
		&::-ms-clear,
		&::-ms-reveal {
			display: none;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}

	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}
}

select {
	cursor: pointer;

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	&::-ms-expand {
		display: none;
	}
}

textarea {
	resize: none;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

svg,
use {
	transform: translateZ(0);
	display: block;
}

svg {
	max-width: 100%;
}

hr {
	border: 0;
	height: 1px;
	margin: 0;
	width: 100px;
	background-color: fade(#000, 18%);
}
